.z1{
    margin-Top: 50px;
    width:400px;
    height: 300px;
    padding-top: 10px;
 
}
.z2{
 border-style: groove;
 font-family:  serif;
}
.z3{
  font-size: 25px;
  margin: 10px;
  font-weight: bold;
}
