.m1{
    margin-Top: 50px;
    height:170px;
    width: 400px;
    padding-top: 10px;

}
.m2{
  font-size: 13px;
  font-weight: bold;
    background-color: white
}

.m3{
  width: 350px;
  margin-top: 30px;
  padding: 10px;
  background-color:white;

}
.m01{
  border-style: solid;
  border-color: #ED4C67;
}
.m4{
  width: 140px;
}
.m5{
  font-weight: bold;
  font-size: 20px;
  background-color: #ED4C67;
}
.m05{
  font-weight: bold;
  font-size: 20px;
  background-color: #C4E538
}
.m005{
  border-style: solid;
  border-color:#C4E538
}
.m6{
  margin: 50px;
}
.m7{
  margin-left: 30px;
  color: #ED4C67;
}
.m8{
  margin-left: 30px;
 color: #009432
}
