.m1{
    margin-Top: 50px;
    height:170px;
    width: 400px;
    padding-top: 10px;

}
.m2{
  font-size: 13px;
  font-weight: bold;
    background-color: white
}

.m3{
  width: 300px;
  margin-top: 30px;
  padding: 10px;
    background-color:#dff9fb
}
.m4{
  width: 120px;
}
.m5{
  font-weight: bold;
  font-size: 20px;
}
